@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  line-height: 100%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  background-color: #000000;
}

.App{
  /* background-color: #111; */
  /* background-color: rgb(10, 25, 41); */
  color: #FFFFFF;
  background-color: #000000;
}
