.row{
    position: relative;
    h1.platform-course-header{
        font-size: 20px;
        line-height: 160%;
        display: inline-block;
        position: absolute;
        top: -25px;
        left: -10px;
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow:0 0 8px #333;
        text-shadow:0 0 8px #000;
        background-color: #1c9db2;
        z-index: 1;
        color: #FFFFFF;
    }
    .course-row-poster{
        display: flex;
        flex-flow: row;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-top: 25px;
        margin-left: 25px;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}

@media screen and (max-width: 425px){
    .row{
        .course-row-poster{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}