.box-wrapper{
    position: relative;
    min-width: 320px;
    max-width: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #3c3c3c;
    transition: 0.4s;
    margin: 20px 20px 20px 0;
    // padding: 20px;
    .course-provider{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        background-color: #35ac04;
        color: #FFF;
        padding: 5px 0;
    }
    .course-image{
        img{
            width: 100%;
        }
    }
    .course-details{
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        flex-grow: 1;
        .course-price{
            position: absolute;
            top: -20px;
            left: 0;
            padding: 10px 20px;
            color: #FFF;
            font-size: 14px;
            line-height: 18px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            &.paid{
                background-color: #f00c63;
            }
            &.free{
                background-color: #35ac04;
            }
        }
        .share-link{
            position: absolute;
            top: -20px;
            right: 10px;
            padding: 10px;
            font-size: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #1c9db2;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #1c9db2;
            outline: 0;
            svg{
                color: #FFFFFF;
            }
        }
        .course-title{
            font-size: 20px;
            line-height: 24px;
            margin: 5px 0;
            font-weight: 600;
        }
        .course-description,
        .course-university,
        .course-faculties{
            font-size: 16px;
            line-height: 20px;
            margin: 5px 0;
        }
        .description-expand{
            background: none;
            outline: 0;
            border: 0;
            color: #f00c63;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            text-align: left;
            margin: 5px 0;
        }
        .course-metrics{
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            .ratings-duration{
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 5px 0;
                .course-ratings{
                    font-size: 14px;
                    line-height: 18px;
                    background-color: #35ac04;
                    border-radius: 8px;
                    padding: 10px;
                    span{
                        color: #000000;
                        margin-right: 10px;
                    }
                    svg{
                        margin-right: 5px;
                    }
                }
                .course-duration{
                    font-size: 14px;
                    line-height: 18px;
                    svg{
                        margin-right: 5px;
                    }
                    span{
                        color: #000000;
                    }
                }
            }
            .course-university,
            .course-faculties{
                margin: 5px 0;
            }
        }
    }
    .action-buttons{
        width: 100%;
        a.course-link{
            width: 100%;
            background-color: #f00c63;
            color: #FFF;
            height: 50px;
            padding: 20px 0;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            outline: 0;
            border: 0;
            cursor: pointer;
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
        }
    }
    &:hover{
        transform: scale(1.05);
    }
}

.course-details-popbox{
    position: relative;
    background-color: #FFFFFF;
    min-width: 400px;
    max-width: 480px;
    padding: 20px;
    // margin-left: 200px;
    margin-right: -20px;
    margin-left: -20px;
    // background-color: #000;
    margin-top: 50px;
    .popper-close{
        position: absolute;
        top: -20px;
        right: 5px;
        padding: 10px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #1c9db2;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #1c9db2;
        svg{
            color: #FFFFFF;
        }
    }
    .course-title{
        font-size: 24px;
        line-height: 160%;
        margin: 5px 0;
        font-weight: 600;
    }

    .hype-date-wrapper{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0;
        font-size: 14px;
        line-height: 160%;
        font-weight: 400;
        .hype-tag{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: #eceb98;
            border-radius: 8px;
        }
        .course-date-details{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            svg{
                margin-right: 5px;
            }
            span{
                color: #0a328e;
                font-weight: 600;
            }
        }
    }
    .categories,
    .levels{
        font-size: 14px;
        line-height: 160%;
        margin: 10px 0;
        color: #3c3c3c;
    }
    .course-description,
    .course-university,
    .course-faculties{
        font-size: 18px;
        line-height: 20px;
        margin: 10px 0;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
    }
    .course-university,
    .course-faculties{
        font-size: 14px;
        line-height: 160%;
        margin: 10px 0;
        svg{
            margin-right: 5px;
        }
    }
    .action-buttons{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        .course-link{ 
            outline: 0;
            border: 0;
            background-color: #f00c63;
            color: #FFF;
            padding: 20px;
            width: 40%;
            border-radius: 10px;
            font-size: 20px;
            line-height: 160%;
            font-weight: 400;
            cursor: pointer;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
        }
        .favourites-wrapper{
            padding: 15px;
            border: 1px solid #f00c63;
            border-radius: 50%;
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
            svg{
                color: #bcbcbc;
                &.active{
                    color: #f00c63;
                }
            }
        }
    }
}

.row-box{
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

.MuiSnackbar-root.page-snack-message{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0)!important;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}