.header{
    padding: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(135,135,135,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(135,135,135,1);
    box-shadow: 0px 3px 5px 0px rgba(135,135,135,1);
    .logo{
        h1{
            font-size: 24px;
            line-height: 160%;
            color: #000000;
        }
    }
    .header-links{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        a{
            color: #000000;
            margin-right: 20px;
            font-size: 20px;
            line-height: 160%;
            font-weight: 600;
        }
    }
}